class Env {
  static const String apiUrl = 'http://localhost:3000';
  
  // Configuration pour Android
  static const String androidApiUrl = 'http://10.0.2.2:3000';
  
  // Configuration pour iOS
  static const String iosApiUrl = 'http://localhost:3000';
  
  // Token d'authentification (à déplacer dans un système de gestion de tokens plus sécurisé)
  static const String authToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImFkbWluQGFkbWluLmNvbSIsImlkIjoiNjA3YWZmNjItYzYyOS00MDM3LTkwMzgtNzA1ZDI0MDljMzY4Iiwicm9sZXMiOlsiYWRtaW4iXSwiaWF0IjoxNzQ4MjcxODI5LCJleHAiOjE3NDgyNzU0Mjl9.VCc_bcMmMjdkPoZEnv9lHfSS-_HJqFJlbP5wGWoKqlc';
  
  // Headers par défaut pour les requêtes API
  static Map<String, String> get defaultHeaders => {
    'Content-Type': 'application/json',
    'Authorization': 'Bearer $authToken',
  };
} 